
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>
<h1>Master 分支標題</h1>
@{
    Html.RenderAction("Index");
    Html.RenderPartial("_ShowPartial");
}
@section scripts{
    <script>
        alert('Hello');
    </script>
}